flows.json
[
    {
        "id": "e638858a.20b518",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c638a929.628018",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7e4174fc.20088c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4beea7c.6ee8a58",
        "type": "subflow",
        "name": "Parser 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 200,
                "wires": [
                    {
                        "id": "5ed5dc1c.9dd674"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 240,
                "y": 260,
                "wires": [
                    {
                        "id": "4beea7c.6ee8a58",
                        "port": 0
                    }
                ]
            },
            {
                "x": 240,
                "y": 340,
                "wires": [
                    {
                        "id": "4beea7c.6ee8a58",
                        "port": 0
                    }
                ]
            },
            {
                "x": 240,
                "y": 420,
                "wires": [
                    {
                        "id": "4beea7c.6ee8a58",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "49245013.f24aa",
        "type": "inject",
        "z": "e638858a.20b518",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "9e08efba.df3df"
            ]
        ]
    },
    {
        "id": "9e08efba.df3df",
        "type": "debug",
        "z": "e638858a.20b518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "e89521ef.52692",
        "type": "inject",
        "z": "c638a929.628018",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "1aa3b269.01b7ce"
            ]
        ]
    },
    {
        "id": "1aa3b269.01b7ce",
        "type": "debug",
        "z": "c638a929.628018",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ed5dc1c.9dd674",
        "type": "debug",
        "z": "4beea7c.6ee8a58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 200,
        "wires": []
    }
]